h1, h2, a {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

head, body {
    margin: 0;
    background-color: black;
    color: white;
}

.image {
    display: flex;
    background-color: #774141;
    min-width: 100%;
}

    .bkg-img {
        display: flex;
        justify-content: center;
        background-color: #774141;
        background-image: url("../img/cheese-positions.jpg");
        background-size: cover;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    a {
        padding: 1em 3em;
        background-color: #B4975A;
        color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: none;
        border-radius: 10px;
        font-size: 30px;
        text-decoration: none;
    }

    a:hover {
        background-color: #e5d486;
    }

.positions {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 0.5fr 8fr 0.5fr;
    grid-template-rows: 20px 1fr 20px 1fr 20px 1fr;
}

    .name-server {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .server {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 30px 0 5px 0;
    }

    .name-host {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .host {
        grid-column: 2/3;
        grid-row: 4/5;
        margin: 30px 0 5px 0;
    }

    .name-cook {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .cook {
        grid-column: 2/3;
        grid-row: 6/7;
        margin: 30px 0 5px 0;
    }

@media screen and (min-width: 768px) {
    .positions {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
        .name-server {
            grid-column: 2/3;
            grid-row: 1/2;
            text-align: center;
            font-size: 1.5rem;
        }
    
        .server {
            grid-column: 3/4;
            grid-row: 1/2;
        }
    
        .name-host {
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: center;
            font-size: 1.5rem;
        }
    
        .host {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .name-cook {
            grid-column: 2/3;
            grid-row: 3/4;
            text-align: center;
            font-size: 1.5rem;
        }
    
        .cook {
            grid-column: 3/4;
            grid-row: 3/4;
        }
}  