* {
    margin: 0
}

label {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

head, body {
    background-color: #000000;
    color: #E0E0E0;
    margin: 0 auto;
}

h1, h2, a {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #774141;
    justify-content: space-between;
}

#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav a{
    color: #B4975A;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 200;
    font-size: larger;
}

#nav a:hover{
    color: #E0E0E0;
    cursor: pointer;
}

.image {
    background-color: #774141;
    width: 100%;
}

.bkg-img {
    display: flex;
    justify-content: center;
    background-color: #774141;
    background-image: url("../img/cheese-positions.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.reservation-form {
    justify-content: center;
    background-color: #222;
    padding: 100px 75px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 75px;
}

.reservation-form h2 {
    text-align: center;
}

.reservation-form form {
    display: grid;
    gap: 10px;
    padding: 20px;
}

input[type="date"],
input[type="time"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    box-sizing: border-box;

}

.button {
    background-color: #B4975A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:20px;
    width: 100%;
    box-sizing: border-box

}

.button:hover {
    background-color: #846B38;
}


@media screen and (min-width: 768px) {
    .positions {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .name-server {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        font-size: 1.5rem;
    }

    .server {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .name-host {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        font-size: 1.5rem;
    }

    .host {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .name-cook {
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: center;
        font-size: 1.5rem;
    }

    .cook {
        grid-column: 3/4;
        grid-row: 3/4;
    }


}
