head, body {
    background-color: #000000;
    color: #E0E0E0;
}

h1, h2, a {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #774141;
    justify-content: space-between;
}

#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav a{
    color: #B4975A;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 200;
    font-size: larger;
}

#nav a:hover{
    color: #E0E0E0;
    cursor: pointer;
}

footer {
    border-top: 2px solid #774141;
    background-color: #160E0E;

    display: flex;
    flex-direction: row;

    padding: 50px;
    margin-top: auto;
    justify-content: space-around;

    align-items: center;

}

footer a{
    color: #E0E0E0;
    text-decoration: none;
    font-weight: 400;

}

footer a:hover{
    cursor: pointer;
    color: #B4975A;
}